<section id="catalog" ng-controller="CatalogController">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3 card" ng-repeat="model in data.Data | orderBy:sortingFunction | limitTo:20:paginationObject.currentIndex*20">
          <!-- TODO: move template into its own view -->
          <img src="{{model.Item.Images|posterImage}}"/><br>
          Title: {{model.Item.Title}} <br>
          Release Year: {{model.Item.ReleaseYear}} <br>
          Duration: {{model.Item.RunTimeSec|formatDuration}}<br>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="dropdown" id="sort-selector">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sort by
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" ng-click="sortByTitle()">Title</a></li>
      <li><a href="#" ng-click="sortByDuration()">Duration</a></li>
      <li><a href="#" ng-click="sortByYear()">Release Year</a></li>
    </ul>
    Sorting by: {{sortBy}}
  </div>
  <div>
    <nav>
      <ul id="pagination-controls" class="pagination">
        <li><a href="#" aria-label="Previous" ng-click="previousPage()"><span aria-hidden="true">&laquo;</span></a></li>
        <li ng-repeat="n in range(1,paginationObject.totalPages)"><a href="#" ng-click="gotoPage(n)">{{n}}</a></li>
        <li><a href="#" aria-label="Next" ng-click="nextPage()"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
  </div>
  <!-- TODO: fix directive -->
  <!-- div ng-paginate ng-model="paginationObject"></div-->
</section>